<div class="col col-md-4 col-md-offset-4">
	<h1>Admin</h1>
	<div class="list-group">
	  <a href="/orders" class="list-group-item">Orders</a>
	  <a href="/categories" class="list-group-item">Categories</a>
	  <a href="/products" class="list-group-item">Products</a>
	  <a href="/posts" class="list-group-item">Posts</a>
	</div>
</div>
